.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(228, 228, 228);
}

.App-link {
  color: #61dafb;}

.App {
  background-color: rgb(69, 30, 105);
  font-style: initial;
  text-align: center;
  font-stretch: wider;
}