
h1 {
    color: darkgreen; font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
 h2{
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
}
 /*mouse over link*/
 a:hover{
     color:rgb(13, 236, 143);}
 /*selected link*/
 a:active {
     color: chartreuse;}
 /*link*/
 a:link {
     text-decoration: none; }
 /*mouse over link*/
 a:hover {
     text-decoration-line: underline;}
     a{
        font-family: Georgia, 'Times New Roman', Times, serif
     }
 img {
    border-radius: 9px; float: left; height: auto; max-width: 100%;
 }
 
.body { font-size: 25px;
font-family: Georgia, 'Times New Roman', Times, serif;}

.footer {
    font-family: Georgia, 'Times New Roman', Times, serif; font-size: 25px; text-transform: uppercase;
}