body {
    background-color: peru;
}

.formContainer {
    display: flex;
    justify-content: space-evenly;
}

.input {
    padding: 20px; 
    height: 30px;
    width: 400px;
}

.button {
    margin-left: 85%;
}