.navBar {
    display: flex;
    justify-content: space-evenly;
    font-size: 35px;
    padding: 25px;
    background-color: darkolivegreen;
    color: goldenrod;
}

.Footer {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-left: 25%;
    background-color: orangered;
    border-radius: 15px;
    width: 50%;
    align-items: center;
}

.est {
    
    text-align: center;
}