header {
    border-bottom: black 1px solid;;
}

h1 {
  color: red;
  text-align: center;
}

.baddieimg {
  width: 150px;
}
/* mobile */
@media screen and (max-width: 414px) {
.container {
    display: flex;
    flex-direction: column;

}
.container li img{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
input {
    height: 50px;
    width: 85%
}
.responsive {
    width: 50%;
    height: auto;
    padding: 15% 22%;
}

button {
    height: 50px;
    width: 100%;
}
.totalcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full {
    width: 100%
}
}
/*end of media query*/
/* Desktop */
li {
    list-style-type: none;
  }